.memory-card {
  width: 150px;
  height: 150px;
  background-color: #f25a70;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  position: relative;
}

.memory-card.-turned {
  background-color: #fff;
}

.memory-card.-turned::before {
  content: "";
  width: 90px;
  height: 90px;
  position: absolute;
  background-color: #d4d4d4;
  border-radius: 50%;
}

.memory-card > .icon {
  width: 90px;
}
.memory-card.-turned > .icon {
  position: absolute;
  transform: translateY(-14px);
}
